/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 26 jun 2024, 16:45:57
    Author     : abel
*/

body{
    background-color: #ccc;
}

h1{
    text-align: center;
}

